

<!DOCTYPE html>
	<html>
		<head>
			<title>acidAnn</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			<div class="blurb">
	<h1>Hi there, I'm acidAnn!</h1>
	<p>Welcome on this page.</p>
</div><!-- /.blurb -->

			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://en.wikipedia.org/wiki/Twin_peaks">favorite TV show</a></li>
	        		<li><a href="http://acidann.github.io/blog/atom.xml">RSS feed</a></li>
	        		<li><a href="https://github.com/acidAnn">github.com/acidAnn</a></li>
				</ul>
			</footer>
		</body>
	</html>
